:root{
    /*  color palette extracted from the source */
    --col01: rgb(54,45,76);
    --col02: rgb(228,91,62);
    --col03: rgb(224,215,203);
    --col04: rgb(145,141,151);
    --col05: rgb(220,108,84);
    --col06: rgb(249,164,149);
}

.page{
    /* grid display allows best layout to emulate source comic, operating on 200x200px cells */
    display: grid;
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(7, 200px);
    gap: 5px 5px;
    /*  explicit grid layout declaration, best when the layout is already established and a specific look is required */
    grid-template-areas: 
    "one . three . five"
    "one two three four five"
    ". two . four ."
    "six six six six six"
    "six six six six six"
    "six six six six six"
    "six six six six six";
}

.panel{
    /* determines default */
    display: flex;
    background-color: var(--col04);
    justify-content:center;
    /* stands in for 'fade' effect */
    border-style: dashed;
    border-color: white;
    min-height: 50px;
    min-width: 50px;
}

/* background colors average out the visuals from source */
#p1{
    grid-area: one;
    background: radial-gradient(var(--col02) 0%, var(--col03)20%, var(--col04));
}

#p2{
    grid-area: two;
    background: radial-gradient(var(--col02) 0%, var(--col03)35%, var(--col04)70%);
}

#p3{
    grid-area: three;
    background: radial-gradient(var(--col02) 0%, var(--col03)35%, var(--col04)90%);
}

#p4{
    grid-area: four;
    background: radial-gradient(var(--col02) 0%, var(--col06)20%, var(--col04)70%);
}

#p5{
    grid-area: five;
    background: radial-gradient(var(--col02) 60%, var(--col03)70%, var(--col04)80%);
}

/* panel 6 gets special treatment with its own distinguishable look and stronger lines than the previous panels */
#p6{
    grid-area: six;
    background: radial-gradient(var(--col02) 65%, var(--col01)66%, var(--col03)60%);
    border-style: solid;
    border-color: var(--col01);
}